@import "tailwindcss";
@import "tw-animate-css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-pretendard: Pretendard;
}

html,
body {
	height: 100%;
	font-family: var(--font-pretendard);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	color: #000;
}

.font-bold {
	font-weight: 700 !important;
}

.font-black {
	font-weight: 900 !important;
}

@media (min-width: 500px) {
	#root {
		width: 500px;
	}
}

@media (max-width: 500px) {
	#root {
		width: 100vw;
	}
}

#root {
	box-shadow: rgba(100, 100, 111, 0.5) 0 7px 29px 0;
	margin: 0 auto;
	min-height: 100vh;
	position: relative;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
textarea,
select {
	font-family: inherit;
	border: none;
	outline: none;
	padding: 0;
}

button {
	font-family: inherit;
	border: none;
	background: none;
	cursor: pointer;
}

a {
	font-family: inherit;
	text-decoration: none;
	color: inherit;
	outline: none;
}
